.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sub-head {
  padding: 20px;
  font-size: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 40px;
  min-width: 300px;
  width: 75vw;
  border: 0.2px solid lightgrey;
}
.form-contents {
  width: 50%;
}
.form-item {
  margin: 20px 0;
}
.form label {
  padding: 10px;
}
.form input {
  background-color: #e8f2f8;
  width: 100%;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 4px;
}

.form button {
  background-color: #095392;
  color: white;
  padding: 10px 40px 10px 40px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}
a {
  color: #3973a5;
  text-decoration: none;
}

.error-message {
  font-weight: bold;
  margin: 20px 0;
  color: red;
}

.success-message {
  font-weight: bold;
  margin: 20px 0;
  color: green;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.reveal-hide {
  cursor: pointer;
  margin: 20px 0;
  margin-bottom: 20px;
}

.reset-instructions {
  border: 0.5px solid black;
  background-color: white;
  padding: 20px;
}
